<!DOCTYPE html>
<html lang="ko">
	<head>
		<%- include('../includes/head')%>
		<link href="../../css/days.css" rel="stylesheet" />
		<%- include('../includes/title')%>
	</head>
	<body>
		<%- include('../includes/header')%><%- include('../includes/modal-hamburger')%>
		<section class="page-bottom">
			<%- include('../includes/sidebar')%>
			<main id="days">
				<ul class="thumbnails-container">
					<%- data %>
				</ul>
			</main>
		</section>
	</body>
</html>
