<!DOCTYPE html>
<html lang="ko">
	<head>
		<%- include('../includes/head')%>
		<link href="../../css/japanese.css" rel="stylesheet" />
		<%- include('../includes/title')%>
	</head>
	<body>
		<%- include('../includes/header')%><%- include('../includes/modal-hamburger')%>
		<section class="page-bottom">
			<%- include('../includes/sidebar')%>
			<main id="japanese"><%- data %></main>
		</section>
	</body>
</html>
