<!DOCTYPE html>
<html lang="ko">
	<head>
		<%- include('../includes/head')%>
		<link href="../../css/ko/main.css" rel="stylesheet" />
		<%- include('../includes/title')%>
	</head>
	<body>
		<%- include('../includes/header')%><%- include('../includes/modal-hamburger')%>
		<section class="page-bottom">
			<%- include('../includes/sidebar')%>
			<main>
				Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio delectus iure veritatis unde quidem quaerat tenetur
				facilis, quam sit quasi et, est repudiandae quisquam at dolorum, laboriosam dolorem labore? Quibusdam!
			</main>
		</section>
	</body>
</html>
